service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read;
      allow write: if request.auth.uid == userId;
    }
    match /crops/{userId} {
      allow read;
      allow write: if request.auth.uid == userId;
    }
    match /files/{fileId} {
      allow read: if request.auth.uid in resource.data.members;
      allow create, update: if false;
      allow delete: if request.auth.uid in resource.data.members
      							&& request.auth.uid != fileId;
    }
  }
}
