@import "~@blueprintjs/core/lib/scss/variables";

.home.home {
    background: $dark-gray3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body.body {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.content.content {
    height: 90vh;
    min-width: $pt-grid-size * 120;
    display: flex;
    align-self: flex-end;

    .tasksView,
    .formView {
        background-color: $dark-gray5;
    }
}

.taskList {
    height: 100%;
    overflow: auto;
    padding-bottom: $pt-grid-size;
}

.taskListActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasksView {
    min-width: 60 * $pt-grid-size;
    padding-bottom: 0;
    overflow: auto;
    transition: flex 800ms;
    transition-delay: 300ms;
    display: flex;
    flex-direction: column;
}

.tasksView.shrink {
    flex: 0;
}

.tasksView.stretch {
    flex: 1;
}

.listTasks {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.formView {
    flex: 0 1 68 * $pt-grid-size;
    min-width: 50 * $pt-grid-size;
    margin-left: 1.5 * $pt-grid-size;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.formHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $pt-grid-size * 2;

    h2 {
        margin: 0;
    }
}

.actionButtonTarget {
    margin-bottom: $pt-grid-size;
}
