@import "~@blueprintjs/core/lib/scss/variables";

.taskStatusIcon {
    margin-right: $pt-grid-size;
}

.taskStatusNotStated.taskStatusNotStated.taskStatusNotStated.taskStatusNotStated {
    color: $gray5;
}

.taskStatusInProgress.taskStatusInProgress.taskStatusInProgress.taskStatusInProgress {
    color: $orange5;
}

.taskStatusBlocked.taskStatusBlocked.taskStatusBlocked.taskStatusBlocked {
    color: $red5;
}

.taskStatusCompleted.taskStatusCompleted.taskStatusCompleted.taskStatusCompleted {
    color: $green5;
}
