@import "~@blueprintjs/core/lib/scss/variables";

.formSection {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskGrid {
    display: grid;
    grid-gap: 0 3 * $pt-grid-size;
    grid-template-columns: repeat(2, [col] 25 * $pt-grid-size);
}

.taskSelectGroup {
    width: 25 * $pt-grid-size;
    display: flex;
    align-items: center;
}

.taskSelectButton.taskSelectButton,
.taskSelectGroup > span > span > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.taskSelectButton > span {
    overflow: hidden;
}

.taskDescription.taskDescription {
    width: 100%;
    height: 20 * $pt-grid-size;
}

.taskStatus {
    display: flex;
    align-items: center;
    color: $light-gray1;
}

.dateInputPopoverTarget.dateInputPopoverTarget {
    display: flex;
}

.dateInput {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}
