@import "~@blueprintjs/core/lib/scss/variables";

.addButton.addButton,
.addButton.addButton:hover {
    text-decoration: none;
}

.listFiles {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task.task {
    display: flex;
    align-items: center;
    padding: $pt-grid-size;
    border-bottom: 1px solid $pt-dark-divider-black;
    background: $dark-gray5;
    transition: background 300ms ease;
    color: $light-gray2;
}

.taskTitle {
    margin-right: $pt-grid-size;
    flex: 1;
}

.task:first-child {
    border-top: 1px solid $pt-dark-divider-black;
}

.task.task:hover {
    cursor: pointer;
    background: $dark-gray4;
    text-decoration: none;
    color: $light-gray5;
}

.selectedTask.selectedTask {
    background: $blue3;
}

.fileIcon {
    margin-right: $pt-grid-size;
    width: 3 * $pt-grid-size;
    height: 3 * $pt-grid-size;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skeletonIcon {
    margin-right: $pt-grid-size;
}

.profilePicture {
    border-radius: 1.5 * $pt-grid-size;
    height: 3 * $pt-grid-size;
    width: 3 * $pt-grid-size;
    margin-right: $pt-grid-size;
}
